<!DOCTYPE html>
<html>
  <head>
    <title>My Rails App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Include Vite's generated CSS -->
    <%= stylesheet_link_tag 'assets/index.css', 'data-turbo-track': 'reload' %>
  </head>
  <body>
    <%= yield %>  <!-- This renders the specific page content -->

    <!-- Include Vite's JS bundle -->
    <%= javascript_include_tag 'assets/index.js', 'data-turbo-track': 'reload' %>
  </body>
</html>
